@import './base.scss';

//Importação do Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

//Cores
$main-color: #6E5C62;
$secondary-color: #312B2D;
$focus-color: #453B3E;
$text-main-color: #ffffff;
$button-color: #eda571;
$input-login-color: #cb8776;

$sucess-color: #3AA394;
$attention-color: #D3AD69;
$fail-color: #A33A3A;
$aswered-color: #312A2C;
$disabled-color: #615458;

//Classes compartilhadas
.dark-background {
    background-color: $focus-color;
}

form {
    display: contents;
}

input {
    background-color: $input-login-color;
}

input::placeholder {
    color: $text-main-color
}

.icon-account {
    width: 3vw;
    height: 3vh;
}

.password-icon {
    cursor: pointer;
}

